.service {
  display: none;

  &__item,
  &__text-position,
  &__item,
  &__text {
    display: none;
  }
}
.services-no-heading {
  display: none;
}
.section {
  padding: 0;
}

@media (min-width: $desktop-size) {
  .section-pddg {
    padding-top: 0px;
  }
  .services-no-heading {
    display: block;
  }
  .service {
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    margin: 0 auto 94px auto;
    padding: 0;
    width: 100%;
  }
  .service__item {
    position: relative;
    display: flex;
    flex-basis: calc((100% - 60px) / 3);
    font-size: 0;
  }
  .service__text-position {
    position: absolute;
    top: 224px;
  }
  .service__text {
    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 370px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
