$brand-blue: rgb(33, 150, 243);
$brand-black: rgb(33, 33, 33);
$brand-grey: rgb(117, 117, 117);
$brand-lightgrey: rgb(175, 177, 184);

$desktop-size: 1200px;
$tablet-size: 768px;
$mobile-size: 480px;
$min-size: 320px;
